<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description>Manage product related requests</description>
  	<servlet-class>com.code.techmart.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description>Manges customer related functions</description>
  	<servlet-class>com.code.techmart.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AgentController</servlet-name>
  	<display-name>AgentController</display-name>
  	<description>Agent management</description>
  	<servlet-class>com.code.techmart.controller.AgentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupplierController</servlet-name>
  	<display-name>SupplierController</display-name>
  	<description>manages suppliers</description>
  	<servlet-class>com.code.techmart.controller.SupplierController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverController</servlet-name>
  	<display-name>DriverController</display-name>
  	<description></description>
  	<servlet-class>com.code.techmart.controller.DriverController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VehicleController</servlet-name>
  	<display-name>VehicleController</display-name>
  	<description>controls Vehicle realted functions</description>
  	<servlet-class>com.code.techmart.controller.VehicleController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InventoryController</servlet-name>
  	<display-name>InventoryController</display-name>
  	<description></description>
  	<servlet-class>com.code.techmart.controller.InventoryController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/getProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/getCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/updateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentController</servlet-name>
  	<url-pattern>/getAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentController</servlet-name>
  	<url-pattern>/addAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentController</servlet-name>
  	<url-pattern>/deleteAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentController</servlet-name>
  	<url-pattern>/updateAgent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentController</servlet-name>
  	<url-pattern>/agentLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierController</servlet-name>
  	<url-pattern>/getSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierController</servlet-name>
  	<url-pattern>/addSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierController</servlet-name>
  	<url-pattern>/deleteSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierController</servlet-name>
  	<url-pattern>/updateSupplier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierController</servlet-name>
  	<url-pattern>/supplierLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverController</servlet-name>
  	<url-pattern>/getDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>DriverController</servlet-name>
	<url-pattern>/addDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>DriverController</servlet-name>
	<url-pattern>/updateDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>DriverController</servlet-name>
	<url-pattern>/deleteDriver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleController</servlet-name>
  	<url-pattern>/getVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleController</servlet-name>
  	<url-pattern>/addVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleController</servlet-name>
  	<url-pattern>/deleteVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleController</servlet-name>
  	<url-pattern>/updateVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InventoryController</servlet-name>
  	<url-pattern>/getInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InventoryController</servlet-name>
  	<url-pattern>/addInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InventoryController</servlet-name>
  	<url-pattern>/deleteInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InventoryController</servlet-name>
  	<url-pattern>/updateInventory</url-pattern>
  </servlet-mapping>
</web-app>
